

<div class="foot">
    <h>Tecnologia utilizada</h>
        <ul class="u">
            <li>ExpressJS</li>          
            <li>EJS</li>
            <li>Jest</li>
            <li>Javascripts</li>
        </ul>       
     <p>Projeto desenvolvido por: Carlos Nascimento</p>

</div>
</body>
</html>