
    <div class="position-absolute bottom-50 end-50 mh-50">   
        <div class="foot">         
            <button type="button" class="btn btn-outline-warning rounded-pill">Projeto-Tecnologia</button>
            <button type="button" class="btn btn-outline-warning rounded-pill">NodeJs</button>
            <button type="button" class="btn btn-outline-warning rounded-pill">EJS</button>
            <button type="button" class="btn btn-outline-warning rounded-pill">Bootstrap</button>
            <button type="button" class="btn btn-outline-warning rounded-pill">CI/CD</button>
            <button type="button" class="btn btn-outline-warning rounded-pill">Jest</button>
            <button type="button" class="btn btn-outline-warning rounded-pill">Consumo de API: Axios</button>
            <button type="button" class="btn btn-outline-warning rounded-pill">JQuery</button>
            <p class="text-warning">Projeto desenvolvido por: Carlos Nascimento</p> 
        </div>  
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>